{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'tradeoption/css/bootstrap.min.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'tradeoption/css/font-awesome.min.css'%}"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'tradeoption/css/main.css'%}">
    <link rel="stylesheet" href="{% static 'tradeoption/css/media-queries.css'%}">
    <link rel="icon" href="{% static 'tradeoption/img/logo.png'%}">
    <title>Sign Up</title>
</head>

<body>
    <div class="loader">
        <img src="{% static 'tradeoption/img/loader.gif'%}" alt="loader icon">
    </div>
    <div class="container-fluid no-gutter">
        <nav class="navbar navbar-expand-sm sticky-top navbar-light bg-dark">
            <div class="d-flex">
                <a class="navbar-brand logo-link mr-1" href="/">
                    <img class="main-logo" src="{% static 'tradeoption/img/logo.png'%}" alt="logo">
                </a>
                <h1 class="logo-caption">
                    An Innovative <br> trading platform
                </h1>
            </div>

            <div class="d-flex ml-auto sign-btn">
                <a name="" id="" class="btn bg-main mr-2" href="/login" role="button">Sign in</a>
                <a name="" id="" class="btn" href="/register" role="button">Sign Up</a>
            </div>
            <!-- <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Action 1</a>
                            <a class="dropdown-item" href="#">Action 2</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div> -->
        </nav>
        <style>
        .errorlist{
            color: #ec4a4a;
            list-style: none;
            margin-top: 4px;
            padding-left: 7px;
        }
        </style>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 py-4">
                    <h1 class="page-title">
                        Sign Up
                    </h1>
                    <div class="form-wrap mt-5">
                        <form class="login-form" method="POST">
                        {% csrf_token %}
                      
                        {% for error in r_form.non_field_errors %}
                            <p style="color: red">{{error}}</p>                 
                       {% endfor %}
                    
                         {% for error in t_form.non_field_errors %}
                             <p style="color: red">{{error}}</p>                 
                        {% endfor %}

                            <div class="form-group">
                                
                                <label for="email">Email</label>
                                {{r_form.email}}
                                

                            </div>
                            <div class="form-group">
                                
                                <label for="id_username">Username</label>
                                {{r_form.username}}
                                

                            </div>
                            <div class="form-group">
                                
                                <label for="id_first_name">First Name</label>
                                {{r_form.first_name}}
                                

                            </div>
                            <div class="form-group">
                                
                                <label for="id_last_name">Last Name</label>
                                {{r_form.last_name}}
                                

                            </div>
                            <div class="form-group">
                                <label for="id_password1">Password</label>
                                {{r_form.password1}}
                                {{r_form.password1.errors}}

                            </div>
                            <div class="form-group">
                                <label for="id_password2">Confirm Password</label>
                                {{r_form.password2}}
                                {{r_form.password2.errors}}
                                {{r_form.password2.help_text}}
                            </div>
                            <div class="form-group">
                                
                                <label for="id_country_id">Country</label>
                                {{t_form.country_id}}
                                {{t_form.country_id.errors}}

                            </div>
                            <div class="form-group">
                                
                                <label for="id_preferred_currency">Currency</label>
                                {{t_form.preferred_currency}}
                                {{t_form.preferred_currency.errors}}
                                

                            </div>
                            <div class="form-group">
                                
                                <label for="id_phone">Phone</label>
                                {{t_form.phone}}
                                {{t_form.phone.errors}}

                            </div>
                            <div class="password-desc">
                                <span>Your password must contain</span>
                                <ul>
                                    <li>6 or more characters</li>
                                    <li>atleast 1 letter</li>
                                    <li>atleast 1 number</li>
                                </ul>
                            </div>

                            

                            <div class="form-check accept-wrap my-4">
                                <input type="checkbox" class="form-check-input " id="accept-terms" name='tos' required>
                                <label class="form-check-label" for="accept-terms">I accept the terms of the <a
                                        href="">the Client Agreement</a> and <a href="">Privacy Policy</a> and confirm that i am legally off age and fully competent</label>
                            </div>

                            <button type="submit" class="btn btn-block btn-submit">Enter</button>
                        </form>
                    </div>

                    <div class="text-center">
                        <a class="d-block mt-3 text-dark" href="/login">Already Have an Account?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="{% static 'tradeoption/js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'tradeoption/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'tradeoption/js/loader.js'%}"></script>
</body>

</html>