{% extends "tradeoption/base.html"%}
{% block title %} Forgot  {% endblock%}    

    {%block body%}

        <!-- preloader -->

        <!-- end preloader -->

    


        <!--
Home Slider
==================================== --><br>
<br>
<br>
<div class="container">
    <div class="row">

        <div id="blog-left" style="padding:50px">
            <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                <h2>FORGOT</h2>
                <div class="devider"><i class="fa fa-line-chart fa-lg"></i></div>
            </div>
            <div class="contact-form">
                <div class="blog-comment-form" style="padding:0px">

                    <div class="col-md-3 col-xs-12 forma"></div><div class="col-md-6 col-xs-12 forma">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <input type="password" class="form-control" placeholder="Email" name="email" required/> -->
                    <button class="btn btn-danger" type="submit" name="action" value="Login">RESET</button>
        </form>
                    </div>
            </div>
            </div></div></div>
    </div>
<br>
<br>
<br>
      
{% endblock %}



