{% extends "tradeoption/base2.html"%}
{% block title %} Change Passwords {% endblock %}

{% block body %}


    <!--
Home Slider
==================================== -->
    <div class="navbar navbar-expand-lg ml-4 w-50 py-0 bg-primary bottom-nav">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-default text-dark">
                <li class="nav-item">
                    <a href="{% url 'verify'%}">Verfication</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account-details'%}">Account Details</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account-summary'%}">Account Summary</a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'change-password'%}">Change Password</a>
                </li>
            </ul>
        </div>
    </div>
    <BR>
    <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
        <h2>CHANGE PASSWORD</h2>
        <div class="devider"><i class="fa fa-line-chart fa-lg"></i></div>
    </div>
    <p class="text-center">
        Please change your password below
    </p>
    <div id="blog-left" style="padding:50px">

        <div class="contact-form">
            <div class="blog-comment-form" style="padding:0px">
                <form action="" enctype="multipart/form-data" name="myForm" id="myform" method="post" style="margin-top:20px;">
                    {%csrf_token%}
                    
                   
                                        
                    <div class="container" align="center">
                        <div class="col-md-4" align="right"><label for="details" style="margin-top:12px;"></label></div>
                        <div class="col-md-3" align="left">
                                
                            {{form.old_password}}
                            <p style="color: red">{{form.old_password.errors}}</p>
                            <!-- <input type="password" name="details" class="form-control" id="details" min="5" -->
                                <!-- placeholder="Old Password" /> -->
                        </div>
                    </div>
                    <div class="container" align="center">
                        <div class="col-md-4" align="right"><label for="details" style="margin-top:12px;"></label></div>
                        <div class="col-md-3" align="left">
                            {{form.new_password1}}
                            <p style="color: red">{{form.new_password1.errors}}</p>
                            <!-- <input type="password" name="cdetails" class="form-control" id="details" min="5"
                                placeholder="New Password" /> -->
                        </div>
                    </div>
                    <div class="container" align="center">
                            <div class="col-md-4" align="right"><label for="details" style="margin-top:12px;"></label></div>
                            <div class="col-md-3" align="left">
                                {{form.new_password2}}
                                <p style="color: red">{{form.new_password2.errors}}</p>
                                
                                <!-- <input type="password" name="cdetails" class="form-control" id="details" min="5"
                                    placeholder="New Password" /> -->
                            </div>
                        </div>
                    <div clas="container" align="center">
                        <div class="col span-3-of-3"><label>
                                <button type="submit" name="button" id="btn-mlogin" class="btn btn-primary"
                                    value="Change">Change</button>
                            </label></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}
    