{% extends "tradeoption/base.html"%}
{% block title %} Enter new password  {% endblock%}    

    {%block body%}

        <!-- preloader -->

        <!-- end preloader -->

    


        <!--
Home Slider
==================================== --><br>
<br>
<br>
<div class="container">
    <div class="row">

        <div id="blog-left" style="padding:50px">
                {% if validlink %}
            <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                
                <h2>Set a new password </h2>
                <div class="devider"><i class="fa fa-line-chart fa-lg"></i></div>
            </div>
            <div class="contact-form">
                <div class="blog-comment-form" style="padding:0px">

                    <div class="col-md-3 col-xs-12 forma"></div><div class="col-md-6 col-xs-12 forma">
                            <form action="" method="post">
                                    {% csrf_token %}
                                    <!-- {{ form.as_p }} -->
                                    {{form.errors}}
                                    {{form.help_text}}
                                <input type="password" name="new_password1" autofocus required id="id_new_password1"class="form-control" placeholder="Password" />
                                
                                <input type="password" name="new_password2" required id="id_new_password2" class="form-control" placeholder="Confirm Password" />
                                    <!-- <input type="password" class="form-control" placeholder="Email" name="email" required/> -->
                                    <button class="btn btn-danger" type="submit" name="action" value="Login">RESET</button>
                        </form>
                    </div>
            </div>
            </div>
          {% else %}
          <p> The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
         {% endif %}
        </div></div>
    </div>
<br>
<br>
<br>
      
{% endblock %}

